body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 1200px;
    background-color: rgb(154, 154, 154);
    margin: 0 auto;
}

.head{
    width: 100%;
}

.nav_bar{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #777;
    border-radius: 5px;
}

.btn_group{
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-around;
    font-size: 32px;
}

a{
    text-decoration: none;
    color: black;
}

.tool_bar_right{
    margin: 0 auto;
    display: flex;
    width: 20%;
    justify-content: space-around;
    font-size: 32px;
}
